@import "@/styles/variable.scss";

.default {
    height: 100vh;
    display: flex;
    overflow: hidden;



    .nav-box {
        background-color: #545c64;
        border-right: solid 1px #ddd;
        width: 200px;
        min-width: 200px;
        display: flex;
        // overflow: hidden;
        flex-direction: column;

        .logo-box {
            height: 60px;
            background-color: #545c64;
            color: #fff;
            display: flex;
            align-items: center;
            padding-left: 20px;
            position: relative;
            box-shadow: 3px 0 20px rgba($color: #000, $alpha: 0.3);

            .fl-box {
                display: flex;
                align-items: flex-end;

                .title {
                    font-size: 30px;
                    line-height: 1;
                    margin-right: 10px;
                }

                .ctos-logo {
                    width: 70px;
                }


            }

        }



    }

    .view-panel {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .view-box {
            overflow: auto;
            flex: 1;
        }
    }
}

.el-header {
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #ddd;
    justify-content: flex-end;
}

// .el-aside {
//     min-height: 100%;
// }

// .el-main {
//     background-color: #f6f6f6;
//     padding: 0;
//     display: flex;
//     flex-direction: column;
//     overflow: auto;
// }